<!DOCTYPE html>
<!--/
                        _   _       _a_a
            _   _     _{.`=`.}_    {/ ''\_
      _    {.`'`.}   {.'  _  '.}  {|  ._oo)
     { \  {/ .-. \} {/  .' '.  \} {/  |
~^~^~`~^~`~^~`~^~`~^~^~`^~^~`^~^~^~^~^~^~`^~~` tapez lochness() dans votre console
/-->
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title 'Grafikart' %} | Grafikart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="turbolinks-cache-control" content="no-cache"/>
</head>
<body class="{{ bodyClass is defined ? bodyClass : '' }} {{ app.user and app.user.darkMode ? 'dark' : '' }} {{ app.user and app.user.premium ? 'user-premium' : 'user-not-premium' }}">
<div class="page-wrapper">
  <nav class="header {% if headerWhite is defined %}is-white{% endif %}" id="header">
    <ul class="header-nav">
      <li class="header__home"><a href="{{ path('home') }}" title="Accueil">{{ icon('home') }}</a></li>
      <li><a href="{{ path('course_index') }}" {{ menu_active('courses') }}>{{ icon('video') }} Tutoriels</a></li>
      <li><a href="{{ path('formation_index') }}">{{ icon('lines') }} Formations</a></li>
      <li><a href="{{ path('forum') }}"  {{ menu_active('forum') }}>{{ icon('comment') }} Forum</a></li>
      <li><a href="{{ path('live') }}" {{ menu_active('live') }} class="{{ is_live_running() ? 'has-live' : '' }}">{{ icon('camera') }} Live {{ next_live_time() }}</a></li>
      <li><a href="{{ path('blog_index') }}" {{ menu_active('blog') }}>{{ icon('pen') }} Blog</a></li>
    </ul>
    {% include 'partials/header-side.html.twig' %}
  </nav>
  {% block body %}{% endblock %}


<script>
  window.grafikart = {...(window.grafikart || {}),
    ADMIN: {{ is_granted('SUPERADMIN') ? 'true' : 'false' }},
    USER: {{ app.user ? app.user.id : 'null' }},
    MERCURE_URL: "{{ mercure_subscribe_url }}",
    NOTIFICATION: new Date({{ (app.user and app.user.notificationsReadAt) ? app.user.notificationsReadAt.timestamp : 0 }} * 1000)
  }
</script>
</body>
</html>
